#cart {
    width: 30px;
    height: auto;
}

.navbar-logo {
    width: 70px;
    height: auto;
}

header {
    background-color: aliceblue;
}

nav {
    flex-grow: 1;
    text-align: right;
}

nav ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #007be0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    font-size: 25px;
}

.navbar {

}