* {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

#banner {
    background: url("images/forest\ floor.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 650px;
}

#impactofenvironment {
    background-color: rgb(219, 219, 219);
    color: black;
    width: 100%;
    padding-left: 70px;
    padding-right: 70px;
}

#impactofenvironment p {
    color: black;
}

#degradationeffects {
    color: black;
}

/* #explore {
    background-color: white;
    color: black;
} */

.logo {
    width: 140px;
    margin-top: 20px;
}

.bannertext {
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 180px;
}

.bannertext h1 {
    font-size: 60px;
}

.bannertext p {
    font-size: 20px;
    background-color: rgba(56, 56, 56, 0.75);
}

.bannerbutton {
    margin: 10px 0;
    text-align: center;
}

.bannerbutton a {
    width: 200px;
    display: inline-block;
    text-decoration: none;
    color: white;
    margin: 0 10px;
    padding: 12px 0;
    border: 3px solid white;
    border-radius: 100px;
    font-weight: bold;
    position: relative;
    z-index: 1;
    transition: color 0.5s ease-out;
}

.bannerbutton a span {
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    border-radius: 100px;
    position: absolute;

    transition: 0.5s ease-out;
    z-index: -1;
}

.bannerbutton a:hover span {
    width: 100%;
}

.bannerbutton a:hover {
    color: black;
}

.titletext {
    text-align: center;
    padding-bottom: 70px;
    margin-bottom: 25px;
}

.titletext p {
    font-size: 40px;
    color: black;
}

.titletext h1 {
    font-size: 30px;
    color: black;
}

.content {
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 15px;
    font-weight: bold;
    font-size: 16px;
    color: black;
    background: linear-gradient(lightgray, white);
}

.featurebox {
    display: flex;
    width: 80%;
    text-align: center;
    margin: auto;
    margin-bottom: 25px;
}

.featurebox img {
    width: 50%;
}

.featureimage img {
    width: 70%;
    border-radius: 10px;
    margin-bottom: 25px;
}

.features {
    flex-basis: 50%;

}

.featureimage {
    flex-basis: 50%;
    margin: auto;
}

.features span {
    font-size: 30px;
    color: black;
}

.featureicon .fas {
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-radius: 8px;
    border: 1px solid green;
}

.impactenvironmentbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    width: 80%;
}

.singleimpact img {
    width: 100%;
    height: 270px;
    border-radius: 5px;
}

.singleimpact {
    flex-basis: 48%;
    text-align: center;
    margin-bottom: 20px;
    height: 270px;
}

.overlay {
    height: 100%;
    width: 100%;
    background: linear-gradient(white, rgba(1, 1, 1, 0));
    margin-top: -270px;
    border-radius: 7px;
    cursor: pointer;
    position: relative;
    opacity: 0;
}

.singleimpact:hover .overlay {
    opacity: 1;
}

.impactdescription {
    margin-top: -40px;
    width: 80%;
    position: relative;
    left: 10%;
    transition: bottom 1s;
    opacity: 0;
    bottom: 40%;
}

.singleimpact:hover .impactdescription {
    opacity: 1;
}